<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Data Visualisation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f9f9f9;
            color: #333;
        }
        h1 {
            text-align: center;
            font-size: 3rem;
            color: #2c3e50;
            margin-bottom: 10px;
        }
        h2 {
            text-align: center;
            font-size: 2rem;
            color: #2980b9;
        }
        p {
            text-align: center;
            font-size: 1.2rem;
            margin: 10px auto;
            line-height: 1.6;
            color: black;
        }
        .container {
            width: 80%;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .highlight {
            font-weight: bold;
            color: #e74c3c;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Projet Data Visualisation</h1>
        <h2>Cyril Kfouri, Mathias Robert, Maxime Maeder, Luc Renaud, Maxime Lambert</h2>
        <p><span class="highlight">Group 2 - Data and AI</span></p>
        <h2>Données Foncières</h2>
        <p><strong>Objectif:</strong> Solution pour un investisseur immobilier.</p>
    </div>
</body>
</html>

<h1 style="color: #e74c3c; text-align: left; margin-bottom: 50px;">2 - Exploration statistique des colonnes</h1>
<h2 style="text-align: center; margin-top: 20px; color: #3498db;">A - Découverte du nouveau DataFrame</h2>

In [2]:
import pandas as pd

In [3]:
file_path = '../CSV/données_foncières_france_2024.csv'
df = pd.read_csv(file_path, low_memory=False)

In [4]:
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,adresse_numero,adresse_nom_voie,nom_commune,code_departement,nombre_lots,type_local,...,surface_terrain,nombre_pieces_principales,nature_culture,nature_culture_speciale,longitude,latitude,valeur_fonciere,surface_tot_lots,nombre_dependances,prix_m2
0,2024-1,2024-01-02,1,Vente,NaN,LE DELIVRE,Chaley,01,0,Terre Agricole,...,99.0,NaN,prés,NaN,5.530952,45.952439,346.5,0.0,0,3.500000
1,2024-2,2024-01-03,2,Vente,NaN,CHEVRY DESSOUS,Chevry,01,0,Terre Agricole,...,115.0,NaN,sols,NaN,6.043339,46.282256,10000.0,0.0,0,86.956522
2,2024-3,2024-01-08,1,Vente,NaN,PIN HAMEAU,Laiz,01,0,Terre Agricole,...,497.0,NaN,sols,NaN,4.911143,46.247235,249000.0,0.0,0,501.006036
3,2024-4,2024-01-03,1,Vente,29.0,PL DU JURA,Gex,01,2,Appartement,...,NaN,4.0,NaN,NaN,6.058695,46.332212,329500.0,0.0,3,3702.247191
4,2024-5,2024-01-09,1,Vente,NaN,AU CHAUME,Plateau d'Hauteville,01,0,Terrain Naturel,...,1584.0,NaN,futaies résineuses,NaN,5.548635,45.900606,20000.0,0.0,0,12.626263

Comprendre a quel type de data frame nous allons devoiur traité (tailles, variables)

In [5]:
df.shape

(6717060, 21)

<h2 style="text-align: center; margin-top: 20px; color: #3498db;">B - Analyses Statistiques de toute la France</h2>

<h1 style="margin-top: 20px;">1 - Distribution des Prix</h1>

On comprend que la répartition du prix va de 0.1 euro à 760 millions d'euros.

Avec une moyenne de 1 200 000 euros.

Écart type de 16  millions d'euros.

Médiane de 143 000 euros

**Or, La médiane étant beaucoup plus faible que la moyenne, cela montre que la majorité des transactions se concentrent sur des montants plus bas. Les valeurs extrêmement élevées tirent artificiellement la moyenne vers le haut.**

**L'écart type élevé nous confirme que très dispersées autour de la moyenne a cause des valeurs extrêmes dans les transactions, ce qui rend la moyenne moins représentative.**

In [6]:
df['valeur_fonciere'].describe()

count    6.717060e+06
mean     1.253728e+06
std      1.634435e+07
min      1.000000e-02
25%      4.500000e+04
50%      1.435000e+05
75%      2.831108e+05
max      7.620000e+08
Name: valeur_fonciere, dtype: float64

In [16]:
df['valeur_fonciere'].median()

143500.0

In [7]:
df.columns

Index(['id_mutation', 'date_mutation', 'numero_disposition', 'nature_mutation',
       'adresse_numero', 'adresse_nom_voie', 'nom_commune', 'code_departement',
       'nombre_lots', 'type_local', 'surface_reelle_bati', 'surface_terrain',
       'nombre_pieces_principales', 'nature_culture',
       'nature_culture_speciale', 'longitude', 'latitude', 'valeur_fonciere',
       'surface_tot_lots', 'nombre_dependances', 'prix_m2'],
      dtype='object')

In [8]:
df['valeur_fonciere'].describe()

count    6.717060e+06
mean     1.253728e+06
std      1.634435e+07
min      1.000000e-02
25%      4.500000e+04
50%      1.435000e+05
75%      2.831108e+05
max      7.620000e+08
Name: valeur_fonciere, dtype: float64

In [9]:
df['surface_terrain'].describe()

count    5.469986e+06
mean     3.163569e+03
std      1.350290e+04
min      1.000000e+00
25%      2.390000e+02
50%      6.500000e+02
75%      2.120000e+03
max      4.653206e+06
Name: surface_terrain, dtype: float64

In [10]:
df['nombre_pieces_principales'].describe()

count    3.164288e+06
mean     3.123003e+00
std      1.819952e+00
min      0.000000e+00
25%      2.000000e+00
50%      3.000000e+00
75%      4.000000e+00
max      9.500000e+01
Name: nombre_pieces_principales, dtype: float64

In [11]:
df['nombre_dependances'].describe()

count    6.717060e+06
mean     2.481321e+03
std      7.188253e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.000000e+00
max      3.061752e+06
Name: nombre_dependances, dtype: float64

In [12]:
df['prix_m2'].describe()

count    6.717060e+06
mean     2.484371e+04
std      6.153415e+05
min      1.590222e-06
25%      3.886773e+01
50%      1.106557e+03
75%      3.186275e+03
max      3.372004e+08
Name: prix_m2, dtype: float64

In [13]:
df['type_local'].value_counts()

type_local
Terre Agricole                              2285910
Maison                                      1548954
Appartement                                 1329874
Terrain Naturel                              952004
Terrain à Bâtir                              314858
Local industriel. commercial ou assimilé     285460
Name: count, dtype: int64

In [14]:
df['nature_culture_speciale'].value_counts()

nature_culture_speciale
Jardin potager    75949
Pâture plantée    43541
Pins              30282
Parc              28139
Friche            27312
                  ...
Lagune                1
Parc à huîtres        1
Ballastière           1
Bassin                1
Glaisière             1
Name: count, Length: 120, dtype: int64

In [15]:
df['nature_culture_speciale'].value_counts()

nature_culture_speciale
Jardin potager    75949
Pâture plantée    43541
Pins              30282
Parc              28139
Friche            27312
                  ...
Lagune                1
Parc à huîtres        1
Ballastière           1
Bassin                1
Glaisière             1
Name: count, Length: 120, dtype: int64