<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Data Visualisation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f9f9f9;
            color: #333;
        }
        h1 {
            text-align: center;
            font-size: 3rem;
            color: #2c3e50;
            margin-bottom: 10px;
        }
        h2 {
            text-align: center;
            font-size: 2rem;
            color: #2980b9;
        }
        p {
            text-align: center;
            font-size: 1.2rem;
            margin: 10px auto;
            line-height: 1.6;
            color: black;
        }
        .container {
            width: 80%;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #dcdcdc;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .highlight {
            font-weight: bold;
            color: #e74c3c;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Projet Data Visualisation</h1>
        <h2>Cyril Kfouri, Mathias Robert, Maxime Maeder, Luc Renaud, Maxime Lambert</h2>
        <p><span class="highlight">Group 2 - Data and AI</span></p>
        <h2>Données Foncières</h2>
        <p><strong>Objectif:</strong> Solution pour un investisseur immobilier.</p>
    </div>
</body>
</html>

<h1 style="color: #e74c3c; text-align: left; margin-bottom: 50px;">2 - Exploration statistique des colonnes</h1>
<h2 style="text-align: center; margin-top: 20px; color: #3498db;">A - Découverte du nouveau DataFrame</h2>

In [1]:
import pandas as pd

In [2]:
file_path = '../CSV/données_foncières_france_2024.csv'
df = pd.read_csv(file_path, low_memory=False)

In [3]:
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,adresse_numero,adresse_nom_voie,nom_commune,code_departement,nombre_lots,type_local,surface_reelle_bati,surface_terrain,nombre_pieces_principales,nature_culture,nature_culture_speciale,longitude,latitude,valeur_fonciere,surface_tot_lots
0,2024-1,2024-01-02,1,Vente,NaN,LE DELIVRE,Chaley,01,0,NaN,NaN,99.0,NaN,prés,NaN,5.530952,45.952439,346.5,0.0
1,2024-2,2024-01-03,2,Vente,NaN,CHEVRY DESSOUS,Chevry,01,0,NaN,NaN,115.0,NaN,sols,NaN,6.043339,46.282256,10000.0,0.0
2,2024-3,2024-01-08,1,Vente,NaN,PIN HAMEAU,Laiz,01,0,NaN,NaN,497.0,NaN,sols,NaN,4.911143,46.247235,249000.0,0.0
3,2024-4,2024-01-03,1,Vente,29.0,PL DU JURA,Gex,01,2,Dépendance,NaN,NaN,0.0,NaN,NaN,6.058695,46.332212,329500.0,0.0
4,2024-4,2024-01-03,1,Vente,29.0,PL DU JURA,Gex,01,2,Dépendance,NaN,NaN,0.0,NaN,NaN,6.058695,46.332212,329500.0,0.0

Comprendre a quel type de data frame nous allons devoiur traité (tailles, variables)

In [4]:
df.shape

(1512683, 19)

<h2 style="text-align: center; margin-top: 20px; color: #3498db;">B - Analyses Statistiques de toute la France</h2>

<h1 style="margin-top: 20px;">1 - Distribution des Prix</h1>

On comprend que la répartition du prix va de 0.1 euro à 250 millions d'euros.

Avec une moyenne de 563 000 euros.

Écart type de 3,2 millions d'euros.

Médiane de 148 000 euros

**Or, La médiane étant beaucoup plus faible que la moyenne, cela montre que la majorité des transactions se concentrent sur des montants plus bas. Les valeurs extrêmement élevées tirent artificiellement la moyenne vers le haut.**

**L'écart type élevé nous confirme que très dispersées autour de la moyenne a cause des valeurs extrêmes dans les transactions, ce qui rend la moyenne moins représentative.**

In [6]:
df['valeur_fonciere'].describe()

count    1.512683e+06
mean     5.622989e+05
std      3.235324e+06
min      1.500000e-01
25%      5.000000e+04
50%      1.480000e+05
75%      2.850000e+05
max      2.550000e+08
Name: valeur_fonciere, dtype: float64